
.single-featured-div{
    border: 1px solid lightblue;
    margin: 20px ;
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.single-featured-div:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.inside-div-job-info{
    margin: 25px;
}