.showjob-container{
    margin: 20px 15% 20px 15%;
    border: 1px solid lightblue;
    display: flex;
    padding: 30px;
    align-items: center;
   
}
.showjob-log{
    background: linear-gradient(90deg, rgba(254, 177, 126, 0.264) 0%,rgba(152, 115, 255, 0.132)) 
    ;
    width: 200px;
    height: 200px;
}
.inside-div-job-info2{
    margin: 25px;
    text-align: left; 
}
