.home-div-info{
    display: flex;
    /* justify-content: space-between; */
   
    

}
.home-div-image img{
    /* margin-left: 10%; */
    width: 98%;


}
.home-div-text{
   
    margin-top: 5%;
    margin-left: 8%;
   
}
.home-div-text h1{
    font-size: 40px;
    line-height: 0.9;
}


/* second div style */
.job-catagory-div{
    margin-top: 100px;
}
.job-catagory-div p{
 
 display: flex;
 justify-content: center;
}
.logo-div-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 8% 0px 8%;
}


/* featured div style */
.feature-job-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0 7% 0 7%;

}
