.single-logo-div{
    background: linear-gradient(90deg, rgba(254, 177, 126, 0.264) 0%,rgba(152, 115, 255, 0.132)) ;
    width: 311px;
    height: 241px;
    margin: 15px;

}
.single-logo-div img{
   
}
